<!-- TESTIMONIALS PAGE -->
{% extends "base.html" %}

{% block title %}American Auto Clinic: Reviews{% endblock %}

{% block content %}
<div class="jumbotron pt-1 d-flex flex-row">
   <div class="p-2 d-flex flex-column">
      <hr class="my-4 mt-0">
      <h1 class="display-4">Testimonials</h1>
      <hr class="my-4">

      <div class="p-2 rounded m-2">
         <div>
            <h3>Lawrence F.</h3>
            <p>It’s been a bad week for my house, air conditioner and car. But a bad week is turned 
            around with the help of this company. Was originally recommended to them by my neighbor. 
            I’ve taken my 02 Envoy several times to them in the past few years and they’ve always 
            fixed the problem straight away. They don’t upsell you and dont do unnecessary repairs. 
            In and out in one day. I would recommend to anyone.</p>
         </div>

         <div>
            <h3>Lisa O.</h3>
            <p>These guys saved my life! I was told by another mechanic that I needed a new transmission 
               ($ 3000 plus) but I felt they were wrong. I went here for a second opinion and they worked 
               for 3 days to figure out what was wrong. It turned out to be just a minor issue that they 
               were able to resolve for less than $300 parts and labor!. They looked everywhere until they 
               found the problem and would not give up until they did. I highly recommend their services! I 
               will not take any of my vehicles anywhere else in the future!</p>
         </div>

         <div>
            <h3>Bryan W.</h3>
            <p>Hands down the most honest and competent auto repair shop I’ve ever done business with. 
               These guys know cars and you can trust that not only will they fix the problem, they won’t 
               overcharge you for a bunch of unneeded work. You have to go here for car maintenance and 
               repair.</p>

            <p>Matt and his team did a simple fix on my car that another Escondido transmission shop 
               had screwed up. I recommended my dad go them for his pickup with a check engine light. 
               For 4 years, and a couple thousand in attempted repairs, the dealer never permanently 
               fixed the problem. These guys figured it out and fixed it for far less than the dealer.</p>
         </div>

         <div>
            <h3>Bryce S.</h3>
            <p>If I could give these guys 6 stars, I would. I came to these guys for a pre-purchase 
               inspection about 4 weeks ago, and had the cash in hand to buy the car had everything 
               checked out okay. Matt and his guys found several bug problems with the car and cautioned 
               me to keep looking. I brought in another car shortly there after, all the way up from a 
               dealer in El Cajon, which he told me was 10x worse than the last. He told me he wouldn’t 
               charge me for the inspection until we brought him a car that was worth buying and he’s been 
               the kindest, most helpful, most unmechanic-like mechanic I’ve ever met! I’m so happy we 
               happened upon these guys. I’m never taking any of my cars anywhere else in San Diego.</p>
         </div>
         
      </div>

      <div class="p-2 d-lg-none">
         <h4>Visit Us:</h4>
         <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3342.1226216542177!2d-117.07542468480327!3d33.105859980873966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf383fedf0635%3A0x55b300ddb306d961!2s1630+S+Escondido+Blvd%2C+Escondido%2C+CA+92025!5e0!3m2!1sen!2sus!4v1490330475422" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         <p class="mb-0" style="font-weight: bold;">Contact Info:</p>
         <p class="m-0">Phone: 760-746-6150</p>
         <p class="mb-0 mt-1" style="font-weight: bold;">Business Hours:</p>
         <p class="mb-0">Monday - Friday: 8:00AM - 5:00PM</p>
         <p class="mb-0">Saturday: 8:00AM - 12:00PM</p>
         <p class="mb-0">Sunday: Closed</p>
      </div>

   </div>

      
      
   <div class="p-2 d-none d-lg-block">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3342.1226216542177!2d-117.07542468480327!3d33.105859980873966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80dbf383fedf0635%3A0x55b300ddb306d961!2s1630+S+Escondido+Blvd%2C+Escondido%2C+CA+92025!5e0!3m2!1sen!2sus!4v1490330475422" width="350" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <p class="mb-0" style="font-weight: bold;">Contact Info:</p>
      <p class="m-0">Phone: 760-746-6150</p>
      <p class="mb-0 mt-1" style="font-weight: bold;">Business Hours:</p>
      <p class="mb-0">Monday - Friday: 8:00AM - 5:00PM</p>
      <p class="mb-0">Saturday: 8:00AM - 12:00PM</p>
      <p class="mb-0">Sunday: Closed</p>
   </div>
</div>
{% endblock %}